[Desktop Entry]
Type=Application
Name=Heuguchon
Exec=heuguchon
Comment=Client for virtual worlds
Icon=heuguchon_icon
Categories=Development;
Terminal=true
